// Strat Blog Section 
section#blog.blog
	.container
		+section-title("latest news","Lorem ipsum dolor sit amet, consectetur")
		.row
			+singelblog('images/blog/1.jpg',
									'25/04/2020',
									'make your marketing website',
									'Lorem ipsum dolor sit amet consectetur adipisicing elit',
									'#')
			+singelblog('images/blog/2.jpg',
									'25/04/2020',
									'make your marketing website',
									'Lorem ipsum dolor sit amet consectetur adipisicing elit',
									'#')
			+singelblog('images/blog/3.jpg',
									'25/04/2020',
									'make your marketing website',
									'Lorem ipsum dolor sit amet consectetur adipisicing elit',
									'#')
			
// End Blog Section 