// Start Footer 
footer
  .container
    .row
      .col-12
        p.copyright copyright &copy;2020 
          span sami 
          | all rights reserved

      

      

      
// End Footer