// Start Hero Section 
section#home.hero
  .overlay
  .intro
    .container
      .intro-image
        img(src='images/about/1.jpg' alt='').img-thumbnail.img-fluid
      .intro-info 
        h1 sami aman
        h3 i am passionate 
          span.typed

        a(href='#work').intro-button.theme-button my work
        a(href='#contact').intro-button.theme-button hire me
  

// End Hero Section 
