section.work#work
	.container
		+section-title('my portfolio','LOREM IPSUM DOLOR SIT AMET, CONSECTETUR')
		.row
			+workbox('images/portfolio/1.jpg')
			+workbox('images/portfolio/2.jpg')
			+workbox('images/portfolio/3.jpg')
			+workbox('images/portfolio/4.jpg')
			+workbox('images/portfolio/5.jpg')
			+workbox('images/portfolio/6.jpg')
			+workbox('images/portfolio/7.jpg')
			+workbox('images/portfolio/8.jpg')
			+workbox('images/portfolio/9.jpg')