//Start Price
section.price#price
	.container
		.row
			.col-md-4
				.price-box-wrap.text-center
					.box-title
						h4 basic
					.box-price
						h4 10
							span $
						p per month
					ul.list-unstyled.box-option
						li 10 gb disk space
						li 15 domain names
						li 4 email adresses
						li.line-through enhanced security
						li.line-through unlimited support
					.box-link
						a(href='#').theme-button purcharse now

			.col-md-4
				.price-box-wrap.text-center
					.box-title
						h4 standard
					.box-price
						h4 30
							span $
						p per month
					ul.list-unstyled.box-option
						li 100 gb disk space
						li 15 domain names
						li 10 email adresses
						li.line-through enhanced security
						li unlimited support
					.box-link
						a(href='#').theme-button.theme-button-o purcharse now


			.col-md-4
				.price-box-wrap.text-center
					.box-title
						h4 preminum
					.box-price
						h4 80
							span $
						p per month
					ul.list-unstyled.box-option
						li 500 gb disk space
						li 40 domain names
						li 50 email adresses
						li enhanced security
						li unlimited support
					.box-link
						a(href='#').theme-button purcharse now

// End Price