section.resume#resume
	.container
		+section-title('my experience','LOREM IPSUM DOLOR SIT AMET CONSECTETUR')
		.row
			+resumebox('fa-graduation-cap',
								'2015-2019',
								'art director - facebook inc',
								'Lorem ipsum dolor sit amet consectetur adipisicing elitAtque et harum  a alias ut aliquid sint 	consequunturbeatae totam dolorem amet voluptatem')
			+resumebox('fa-briefcase',
								'2015-2019',
								'art director - facebook inc',
								'Lorem ipsum dolor sit amet consectetur adipisicing elitAtque et harum  a alias ut aliquid sint 	consequunturbeatae totam dolorem amet voluptatem')
			+resumebox('fa-graduation-cap',
								'2015-2019',
								'art director - facebook inc',
								'Lorem ipsum dolor sit amet consectetur adipisicing elitAtque et harum  a alias ut aliquid sint 	consequunturbeatae totam dolorem amet voluptatem')
			+resumebox('fa-briefcase',
								'2015-2019',
								'art director - facebook inc',
								'Lorem ipsum dolor sit amet consectetur adipisicing elitAtque et harum  a alias ut aliquid sint 	consequunturbeatae totam dolorem amet voluptatem')
