section.services#services
	.container
		+section-title('what can i do','LOREM IPSUM DOLOR SIT AMET, CONSECTETUR')
		.row
			+box('fa-bookmark-o','concepting')
			+box('fa-bell-o','web design')
			+box('fa-lemon-o','ui ux design')
			+box('fa-map-o','brand identity')
			+box('fa-user-o','art direction')
			+box('fa-heart-o','service design')
			+box('fa-snowflake-o','visual design')
			+box('fa-comment-o','consulting')
