.sidebar
	.toggler-icon
		i.fa.fa-align-justify
	.sidebar-image
		img(src='images/about/1.jpg' alt='').img-thumbnail.img-fluid
		h4 sami aman
	.sidebar-menu
		ul
			li
				a(href='#home').active
					i.fa.fa-home
					|home
			li
				a(href='#about')
					i.fa.fa-user
					|about
			li
				a(href='#services')
					i.fa.fa-star
					|services

			li
				a(href='#resume')
					i.fa.fa-graduation-cap
					|resume

			li
				a(href='#work')
					i.fa.fa-suitcase
					|works
			li
				a(href='#blog')
					i.fa.fa-book
					|blogs
			li
				a(href='#contact')
					i.fa.fa-envelope-open
					|contact
	.sidebar-social
		a(href='#').social-icon: i.fa.fa-facebook
		a(href='#').social-icon: i.fa.fa-twitter
		a(href='#').social-icon: i.fa.fa-instagram
		a(href='#').social-icon: i.fa.fa-behance
		a(href='#').social-icon: i.fa.fa-github


