section.skills
	.container
		.row
			.col-12.col-lg-6
				.exper-box
					.exper-head
						h4 experience skill
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam recusandae quod mollitia dolores, quas reiciendis aliquam odio laborum
					.exper-body

						+progressbox('html/css','82')
						+progressbox('javascript','60')
						+progressbox('vue.js','35')
						+progressbox('django','20')
						
			.col-12.col-lg-6
				.skills-box
					.skill-head
						h4 language skill
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam recusandae quod mollitia dolores, quas reiciendis aliquam odio laborum
					.skill-body
						.row
							+langbox(100,'arabic')
							+langbox(70,'english')
							+langbox(35,'germen')
							+langbox(28,'spanish')
		







