// Start Testimonials
section.testimonials#testimonials
  .container
    +section-title('clients say','LOREM IPSUM DOLOR SIT AMET, CONSECTETUR')
    .owl-carousel

      +singelclient('images/testimonials/1.jpg',
      'andro doe',
      'desinger',
      'Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.')

      +singelclient('images/testimonials/2.jpg',
      'jhon doe',
      'developer',
      'Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.')

      +singelclient('images/testimonials/3.jpg',
      'james doe',
      'desinger',
      'Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.')

      +singelclient('images/testimonials/4.jpg',
      'tommy doe',
      'desinger',
      'Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
            

// End Testimonials
