/* Themes Variables */
:root{

  --first-bg-color: #fafafa ;
  --second-bg-color: #fff;
  --theme-color: rgb(247, 99, 106);
  --head-color: #000;
  --white-color: #fff;
  --text-color: rgb(133, 131, 131);
  --black-color: #0F1017;

}
