/* Switch Theme */
.switch-theme{

  width: 40px;
  height: 40px;
  background-color: var(--theme-color);
  position: fixed;
  right: 10px;
  top: 30%;
  z-index: 999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Transition(all,.3s ,ease);

  .icon{

    color: var(--white-color);

  }

}