//- // Start Preloader
//- .preloader
//- 	//- .spinner
//- 	//- 	span loading...

//- // End Preloader


//Preloader start
div.preloder
  div.spinner
      div.rect1
      div.rect2
      div.rect3
      div.rect4
      div.rect5
//Preloader end